<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      {{input type='search' value=query class='form-control' placeholder='Search' autofocus='autofocus'}}
    </div>

    {{#if model}}
      <h4>Fake results:</h4>

      <table class="table table-border table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>query character</th>
            <th>character code</th>
          </tr>
        </thead>
        <tbody>

          {{#each}}
            <tr>
              <td>{{link-to num 'card' this}}</td>
              <td>{{character}}</td>
              <td>{{code}}</td>
            </tr>
          {{/each}}

        </tbody>
      </table>
    {{/if}}
  </div>
</div>
